/* --------- BEGIN Common styles --------- */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    outline: 1px solid transparent;
}

/* --------- END Common styles --------- */

.questionInput {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.valImage {
  width: 200px;
  height: 200px;
  flex-grow: 1;
  margin: 30px;
}

.valForm {
  height: 100vh;
  width: 100vw;
  background-size:cover;
}



.valRoot {
  height: auto;
}

.valApp {

}

.valImageContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


