.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #eee;
  padding: 20px;
}

.navItem {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  border-radius: 100%;
  margin: 0 1rem;
  color: blue;
  a {
    text-decoration: none;
    color: red;
  }
}
